In [1]:
# Dependencies
### Data Cleaning
import csv
import pandas as pd
import numpy as np

### Reflecting DB
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import func
Base = declarative_base()

In [2]:
# Read Tab seperated CCES Raw data (using pd.read_csv method) into a pandas Data Frame

file = "data_raw/CCES16_Common_OUTPUT_Feb2018_VV-subset.tab"
file_df = pd.read_csv(file, sep='\t')
file_df.head(2)

,V101,lookupzip,inputstate,countyfips,birthyr,gender,educ,CC16_330a,CC16_330b,CC16_330d,CC16_330e,CC16_332a,CC16_332b,CC16_332c,CC16_332d,CC16_332e,CC16_335
0,222168628,3442,33,33011.0,1969,2,2,1.0,2.0,2.0,2.0,1.0,2.0,1.0,2.0,2.0,1.0
1,273691199,70118,22,22071.0,1994,2,2,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [3]:
# Read CSV file containing State strings with matching V101 numbers

StatesCSV = 'data_raw/state_names.csv'
StatesDf = pd.read_csv(StatesCSV)
StatesDf.head(2)

        V101      StateName
0  222168628  New Hampshire
1  273691199      Louisiana

In [4]:
# Merge the two Pandas Data Frames on V101

FinalDF = pd.merge(file_df, StatesDf, on = 'V101')
FinalDF.head(2)

,V101,lookupzip,inputstate,countyfips,birthyr,gender,educ,CC16_330a,CC16_330b,CC16_330d,CC16_330e,CC16_332a,CC16_332b,CC16_332c,CC16_332d,CC16_332e,CC16_335,StateName
0,222168628,3442,33,33011.0,1969,2,2,1.0,2.0,2.0,2.0,1.0,2.0,1.0,2.0,2.0,1.0,New Hampshire
1,273691199,70118,22,22071.0,1994,2,2,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,Louisiana

In [5]:
FinalDF.shape

(64600, 18)

In [6]:
coords = 'data_raw/statelatlong.csv'
coordsDF = pd.read_csv(coords)
coordsDF.head(2)

  StateAbb   Latitude   Longitude StateName
0       AL  32.601011  -86.680736   Alabama
1       AK  61.302501 -158.775020    Alaska

In [7]:
coordsDF.shape

(51, 4)

In [8]:
DF_withcoords = FinalDF.merge(coordsDF, on ='StateName')
DF_withcoords.head(2)

,V101,lookupzip,inputstate,countyfips,birthyr,gender,educ,CC16_330a,CC16_330b,CC16_330d,...,CC16_332a,CC16_332b,CC16_332c,CC16_332d,CC16_332e,CC16_335,StateName,StateAbb,Latitude,Longitude
0,222168628,3442,33,33011.0,1969,2,2,1.0,2.0,2.0,...,1.0,2.0,1.0,2.0,2.0,1.0,New Hampshire,NH,44.001231,-71.579923
1,301400441,3303,33,33013.0,1948,2,3,1.0,2.0,1.0,...,1.0,2.0,2.0,2.0,2.0,1.0,New Hampshire,NH,44.001231,-71.579923

In [9]:
DF_withcoords.shape

(64600, 21)

In [10]:
# Clean the merged Data:

# Drop all rows that have an NA in any column
file_df = DF_withcoords.dropna()

# Reset the index so there are not missing index values
file_df1 = file_df.reset_index()

# drop second index
file_df1 = file_df1.drop(columns=['index', 'inputstate'])

file_df1.head(2)

,V101,lookupzip,countyfips,birthyr,gender,educ,CC16_330a,CC16_330b,CC16_330d,CC16_330e,CC16_332a,CC16_332b,CC16_332c,CC16_332d,CC16_332e,CC16_335,StateName,StateAbb,Latitude,Longitude
0,222168628,3442,33011.0,1969,2,2,1.0,2.0,2.0,2.0,1.0,2.0,1.0,2.0,2.0,1.0,New Hampshire,NH,44.001231,-71.579923
1,301400441,3303,33013.0,1948,2,3,1.0,2.0,1.0,2.0,1.0,2.0,2.0,2.0,2.0,1.0,New Hampshire,NH,44.001231,-71.579923

In [14]:
file_df1.shape

(62881, 20)

In [11]:
# Rename columns with more descriptive titles

file_dfRename = file_df1.rename(columns = {
    'CC16_330a':'GunBackgroundChecks_16',
    'CC16_330b':'ProhibitPublication_16',
    'CC16_330d':'BanAssultWeapons_16',
    'CC16_330e':'MakeCCPEasier_16',
    'CC16_332a':'AlwaysAllowChoice_16',
    'CC16_332b':'RapeIncestorHealth_16',
    'CC16_332c':'ProhibitMoreThan20Weeks_16',
    'CC16_332d':'EmployersDeclineBenefits_16',
    'CC16_332e':'ProhibitFedFunds_16',
    'CC16_335': 'GayMarriage'
})

# Reorder the columns

CCES_df = file_dfRename[['V101', 'lookupzip', 'StateName', 'StateAbb', 'Latitude', 'Longitude', 'countyfips', 'birthyr', 'gender', 'educ',
       'GunBackgroundChecks_16', 'ProhibitPublication_16',
       'BanAssultWeapons_16', 'MakeCCPEasier_16', 'AlwaysAllowChoice_16',
       'RapeIncestorHealth_16', 'ProhibitMoreThan20Weeks_16',
       'EmployersDeclineBenefits_16', 'ProhibitFedFunds_16', 'GayMarriage']]
CCES_df.head(2)

,V101,lookupzip,StateName,StateAbb,Latitude,Longitude,countyfips,birthyr,gender,educ,GunBackgroundChecks_16,ProhibitPublication_16,BanAssultWeapons_16,MakeCCPEasier_16,AlwaysAllowChoice_16,RapeIncestorHealth_16,ProhibitMoreThan20Weeks_16,EmployersDeclineBenefits_16,ProhibitFedFunds_16,GayMarriage
0,222168628,3442,New Hampshire,NH,44.001231,-71.579923,33011.0,1969,2,2,1.0,2.0,2.0,2.0,1.0,2.0,1.0,2.0,2.0,1.0
1,301400441,3303,New Hampshire,NH,44.001231,-71.579923,33013.0,1948,2,3,1.0,2.0,1.0,2.0,1.0,2.0,2.0,2.0,2.0,1.0

In [12]:
########## Convert some of the columns from number answers to string value responses

# Convert gender column
CCES_df['gender'] = CCES_df['gender'].apply(lambda x: 'male' if x== 1 else 'female')

# map and convert edu column
CCES_df['educ'] = CCES_df['educ'].map({
                                            1: 'NoHS',
                                            2: 'HS_Grad',
                                            3: 'Some College',
                                            4: '2-year',
                                            5: '4-year',
                                            6: 'Post-Grad'
                                          })

# CC16_330a 1 support, 2 oppose, 8 skipped / Gun Background Checks_16
CCES_df['GunBackgroundChecks_16'] = CCES_df['GunBackgroundChecks_16'].map({
    1: 'Support',
    2: 'Oppose',
    8: 'Skipped'
})

# CC16_330b 1 support, 2 oppose, 8 skipped  'CC16_330b':'Prohibit Publication_16',
CCES_df['ProhibitPublication_16'] = CCES_df['ProhibitPublication_16'].map({
    1: 'Support',
    2: 'Oppose',
    8: 'Skipped'
})

# CC16_330d 1 support, 2 oppose, 8 skipped 'CC16_330d':'Ban Assult Weapons_16',
CCES_df['BanAssultWeapons_16'] = CCES_df['BanAssultWeapons_16'].map({
    1: 'Support',
    2: 'Oppose',
    8: 'Skipped'
})

# CC16_330e 1 support, 2 oppose, 8 skipped 'CC16_330e':'Make CCP Easier_16',
CCES_df['MakeCCPEasier_16'] = CCES_df['MakeCCPEasier_16'].map({
    1: 'Support',
    2: 'Oppose',
    8: 'Skipped'
})

# CC16_332a 1 support, 2 oppose, 8 skipped 'CC16_332a':'Always Allow Choice_16',
CCES_df['AlwaysAllowChoice_16'] = CCES_df['AlwaysAllowChoice_16'].map({
    1: 'Support',
    2: 'Oppose',
    8: 'Skipped'
})

# CC16_332b 1 support, 2 oppose, 8 skipped   'CC16_332b':'Rape, Incest, or Health_16',
CCES_df['RapeIncestorHealth_16'] = CCES_df['RapeIncestorHealth_16'].map({
    1: 'Support',
    2: 'Oppose',
    8: 'Skipped'
})

# CC16_332c 1 support, 2 oppose, 8 skipped 'CC16_332c':'Prohibit MoreThan20 Weeks_16',
CCES_df['ProhibitMoreThan20Weeks_16'] = CCES_df['ProhibitMoreThan20Weeks_16'].map({
    1: 'Support',
    2: 'Oppose',
    8: 'Skipped'
})

# CC16_332d 1 support, 2 oppose, 8 skipped   'CC16_332d':'Employers decline benefits_16',
CCES_df['EmployersDeclineBenefits_16'] = CCES_df['EmployersDeclineBenefits_16'].map({
    1: 'Support',
    2: 'Oppose',
    8: 'Skipped'
})

# CC16_332e 1 support, 2 oppose, 8 skipped  'CC16_332e':'Prohibit Fed Funds_16',
CCES_df['ProhibitFedFunds_16'] = CCES_df['ProhibitFedFunds_16'].map({
    1: 'Support',
    2: 'Oppose',
    8: 'Skipped'
})

# CC16_335 1 support, 2 oppose, 8 skipped  'CC16_335': 'GayMarriage'
CCES_df['GayMarriage'] = CCES_df['GayMarriage'].map({
    1: 'Support',
    2: 'Oppose',
    8: 'Skipped'
})
CCES_df.head(2)

,V101,lookupzip,StateName,StateAbb,Latitude,Longitude,countyfips,birthyr,gender,educ,GunBackgroundChecks_16,ProhibitPublication_16,BanAssultWeapons_16,MakeCCPEasier_16,AlwaysAllowChoice_16,RapeIncestorHealth_16,ProhibitMoreThan20Weeks_16,EmployersDeclineBenefits_16,ProhibitFedFunds_16,GayMarriage
0,222168628,3442,New Hampshire,NH,44.001231,-71.579923,33011.0,1969,female,HS_Grad,Support,Oppose,Oppose,Oppose,Support,Oppose,Support,Oppose,Oppose,Support
1,301400441,3303,New Hampshire,NH,44.001231,-71.579923,33013.0,1948,female,Some College,Support,Oppose,Support,Oppose,Support,Oppose,Oppose,Oppose,Oppose,Support

In [13]:
## Troubleshooting to add up the total responses for each column
## If the responses for each section show a difference value of 0 - that's good news!

GunBcSupport = (len(CCES_df[CCES_df['GunBackgroundChecks_16']=='Support']))
GunBCOppose = (len(CCES_df[CCES_df['GunBackgroundChecks_16']=='Oppose']))
GunBcTotal = (len(CCES_df[CCES_df['GunBackgroundChecks_16']!='none']))
print('Gun Support Total Support: ', GunBcSupport)
print('Total Oppose: ', GunBCOppose)
print('Total Rows: ', GunBcTotal)
print('Total Difference', (GunBcTotal - GunBCOppose - GunBcSupport))
print('--------------------------------------------------------------------------')

ProhibitPubSupport = (len(CCES_df[CCES_df['ProhibitPublication_16']=='Support']))
ProhibitPubOppose = (len(CCES_df[CCES_df['ProhibitPublication_16']=='Oppose']))
ProhibitPubTotal = (len(CCES_df[CCES_df['ProhibitPublication_16']!='none']))
print('Prohibit Publication_16: ', ProhibitPubSupport)
print('Total Oppose: ', ProhibitPubOppose)
print('Total Rows: ', ProhibitPubTotal)
print('Total Difference', (ProhibitPubTotal - ProhibitPubOppose - ProhibitPubSupport))
print('--------------------------------------------------------------------------')
BanAssultSupport = (len(CCES_df[CCES_df['BanAssultWeapons_16']=='Support']))
BanAssultOppose = (len(CCES_df[CCES_df['BanAssultWeapons_16']=='Oppose']))
BanAssultTotal = (len(CCES_df[CCES_df['BanAssultWeapons_16']!='none']))
print('Gun Support Total Support: ', BanAssultSupport)
print('Total Oppose: ', BanAssultOppose)
print('Total Rows: ', BanAssultTotal)
print('Total Difference', (BanAssultTotal - BanAssultOppose - BanAssultSupport))
print('--------------------------------------------------------------------------')
#########################################################################################
CCPSupport = (len(CCES_df[CCES_df['MakeCCPEasier_16']=='Support']))
CCPOppose = (len(CCES_df[CCES_df['MakeCCPEasier_16']=='Oppose']))
CCPTotal = (len(CCES_df[CCES_df['MakeCCPEasier_16']!='none']))
print('Gun Support Total Support: ', CCPSupport)
print('Total Oppose: ', CCPOppose)
print('Total Rows: ', CCPTotal)
print('Total Difference', (CCPTotal - CCPOppose - CCPSupport))
print('--------------------------------------------------------------------------')

AlwaysSupport = (len(CCES_df[CCES_df['AlwaysAllowChoice_16']=='Support']))
AlwaysOppose = (len(CCES_df[CCES_df['AlwaysAllowChoice_16']=='Oppose']))
AlwaysTotal = (len(CCES_df[CCES_df['AlwaysAllowChoice_16']!='none']))
print('Prohibit Publication_16: ', AlwaysSupport)
print('Total Oppose: ', AlwaysOppose)
print('Total Rows: ', AlwaysTotal)
print('Total Difference', (AlwaysTotal - AlwaysOppose - AlwaysSupport))
print('--------------------------------------------------------------------------')
HealthSupport = (len(CCES_df[CCES_df['RapeIncestorHealth_16']=='Support']))
HealthOppose = (len(CCES_df[CCES_df['RapeIncestorHealth_16']=='Oppose']))
HealthTotal = (len(CCES_df[CCES_df['RapeIncestorHealth_16']!='none']))
print('Gun Support Total Support: ', HealthSupport)
print('Total Oppose: ', HealthOppose)
print('Total Rows: ', HealthTotal)
print('Total Difference', (HealthTotal - HealthOppose - HealthSupport))
print('--------------------------------------------------------------------------')

#########################################################################################
MoreThan20Support = (len(CCES_df[CCES_df['ProhibitMoreThan20Weeks_16']=='Support']))
MoreThan20Oppose = (len(CCES_df[CCES_df['ProhibitMoreThan20Weeks_16']=='Oppose']))
MoreThan20Total = (len(CCES_df[CCES_df['ProhibitMoreThan20Weeks_16']!='none']))
print('Gun Support Total Support: ', MoreThan20Support)
print('Total Oppose: ', MoreThan20Oppose)
print('Total Rows: ', MoreThan20Total)
print('Total Difference', (MoreThan20Total - MoreThan20Oppose - MoreThan20Support))
print('--------------------------------------------------------------------------')

DeclineBenSupport = (len(CCES_df[CCES_df['EmployersDeclineBenefits_16']=='Support']))
DeclineBenOppose = (len(CCES_df[CCES_df['EmployersDeclineBenefits_16']=='Oppose']))
DeclineBenTotal = (len(CCES_df[CCES_df['EmployersDeclineBenefits_16']!='none']))
print('Prohibit Publication_16: ', DeclineBenSupport)
print('Total Oppose: ', DeclineBenOppose)
print('Total Rows: ', DeclineBenTotal)
print('Total Difference', (DeclineBenTotal - DeclineBenOppose - DeclineBenSupport))
print('--------------------------------------------------------------------------')
NoFedFundsSupport = (len(CCES_df[CCES_df['ProhibitFedFunds_16']=='Support']))
NoFedFundsOppose = (len(CCES_df[CCES_df['ProhibitFedFunds_16']=='Oppose']))
NoFedFundsTotal = (len(CCES_df[CCES_df['ProhibitFedFunds_16']!='none']))
print('Gun Support Total Support: ', NoFedFundsSupport)
print('Total Oppose: ', NoFedFundsOppose)
print('Total Rows: ', NoFedFundsTotal)
print('Total Difference', (NoFedFundsTotal - NoFedFundsOppose - NoFedFundsSupport))
print('--------------------------------------------------------------------------')

#########################################################################################
GaySupport = (len(CCES_df[CCES_df['GayMarriage']=='Support']))
GayOppose = (len(CCES_df[CCES_df['GayMarriage']=='Oppose']))
GayTotal = (len(CCES_df[CCES_df['GayMarriage']!='none']))
print('GayMarriage Total Support: ', GaySupport)
print('Total Oppose: ', GayOppose)
print('Total Rows: ', GayTotal)
print('Total Difference', (GayTotal - GayOppose - GaySupport))
print('--------------------------------------------------------------------------')

GenderMale = (len(CCES_df[CCES_df['gender']=='male']))
GenderFemale = (len(CCES_df[CCES_df['gender']=='female']))
GenderTotal = (len(CCES_df[CCES_df['gender']!='none']))
print('gender: ', GenderMale)
print('Total Male: ', GenderMale)
print('Total Female: ', GenderFemale)
print('Total Rows: ', GenderTotal)
print('Total Difference', (GenderTotal - GenderFemale - GenderMale))
print('--------------------------------------------------------------------------')

# Education

NoHS = (len(CCES_df[CCES_df['educ']=='NoHS']))
HS_Grad = (len(CCES_df[CCES_df['educ']=='HS_Grad']))
SomeCollege = (len(CCES_df[CCES_df['educ']=='Some College']))
year2 = (len(CCES_df[CCES_df['educ']=='2-year']))
year4= (len(CCES_df[CCES_df['educ']=='4-year']))
PostGrad = (len(CCES_df[CCES_df['educ']=='Post-Grad']))
eduTotal = (len(CCES_df[CCES_df['educ']!='none']))
print('educ Total Support: ' )
print('Total NoHS: ',NoHS )
print('Total HS_Grad: ', HS_Grad)
print('Total SomeCollege: ', SomeCollege)
print('Total year2: ', year2)
print('Total year4: ', year4)
print('Total PostGrad: ', PostGrad)
print('Total Rows: ', eduTotal)
print('Total Difference', (eduTotal - NoHS - HS_Grad- SomeCollege - year2 - year4 - PostGrad ))
print('--------------------------------------------------------------------------')

Gun Support Total Support:  56810
Total Oppose:  6071
Total Rows:  62881
Total Difference 0
--------------------------------------------------------------------------
Prohibit Publication_16:  37098
Total Oppose:  25783
Total Rows:  62881
Total Difference 0
--------------------------------------------------------------------------
Gun Support Total Support:  41793
Total Oppose:  21088
Total Rows:  62881
Total Difference 0
--------------------------------------------------------------------------
Gun Support Total Support:  23663
Total Oppose:  39218
Total Rows:  62881
Total Difference 0
--------------------------------------------------------------------------
Prohibit Publication_16:  38869
Total Oppose:  24012
Total Rows:  62881
Total Difference 0
--------------------------------------------------------------------------
Gun Support Total Support:  28768
Total Oppose:  34113
Total Rows:  62881
Total Difference 0
--------------------------------------------------------------------------
Gun Support Total Support:  38017
Total Oppose:  24864
Total Rows:  62881
Total Difference 0
--------------------------------------------------------------------------
Prohibit Publication_16:  27312
Total Oppose:  35569
Total Rows:  62881
Total Difference 0
--------------------------------------------------------------------------
Gun Support Total Support:  28358
Total Oppose:  34523
Total Rows:  62881
Total Difference 0
--------------------------------------------------------------------------
GayMarriage Total Support:  40955
Total Oppose:  21926
Total Rows:  62881
Total Difference 0
--------------------------------------------------------------------------
gender:  28770
Total Male:  28770
Total Female:  34111
Total Rows:  62881
Total Difference 0
--------------------------------------------------------------------------
educ Total Support:
Total NoHS:  1916
Total HS_Grad:  15924
Total SomeCollege:  15249
Total year2:  6980
Total year4:  14501
Total PostGrad:  8311
Total Rows:  62881
Total Difference 0
--------------------------------------------------------------------------

In [15]:
# Create the engine to connect to a sqlite file.
# The file will not be created until the class, base, and metadata are executed

engine = create_engine("sqlite:///db/CCES_Ver51.sqlite")

# Create a variable to manage session.queries later on...
session = Session(engine)

In [16]:
# Display Dataframe Column types to ensure the class is created correctly

CCES_df.dtypes

V101                             int64
lookupzip                        int64
StateName                       object
StateAbb                        object
Latitude                       float64
Longitude                      float64
countyfips                     float64
birthyr                          int64
gender                          object
educ                            object
GunBackgroundChecks_16          object
ProhibitPublication_16          object
BanAssultWeapons_16             object
MakeCCPEasier_16                object
AlwaysAllowChoice_16            object
RapeIncestorHealth_16           object
ProhibitMoreThan20Weeks_16      object
EmployersDeclineBenefits_16     object
ProhibitFedFunds_16             object
GayMarriage                     object
dtype: object

In [17]:
### Define our Survey Class for the sqlite db table


class Survey(Base):
    __tablename__ = 'CCES_16'
    index = Column(Integer, primary_key=True)
    V101 = Column(Integer)
    lookupzip = Column(Integer)
    StateName = Column(String(255))
    StateAbb = Column(String(255))
    Latitude = Column(Float)
    Longitude = Column(Float)
    countyfips = Column(Float)
    
  
    birthyr = Column(Integer)
    gender = Column(String(255))
    educ = Column(String(255))
   
    GunBackgroundChecks_16 = Column(String(255))
    ProhibitPublication_16 = Column(String(255))
    BanAssultWeapons_16 = Column(String(255))
    MakeCCPEasier_16 = Column(String(255))
    AlwaysAllowChoice_16 = Column(String(255))
    RapeIncestorHealth_16 = Column(String(255))
    ProhibitMoreThan20Weeks_16 = Column(String(255))
    Employersdeclinebenefits_16 = Column(String(255))
    ProhibitFedFunds_16 = Column(String(255))
    GayMarriage = Column(String(255))

In [18]:
# Create the CCES_16 table within the database
# This step actually creates the sqlite file

Base.metadata.create_all(engine)

In [19]:
# Loop to transfer/write the DF data into the sqlite file.
# The only way I could get this to work was in a loop where the notebook wasn't trying to write more than 50 rows at a time.
# I believe this is a hardware limitation of my laptop where it could not process more than 50 rows at a time in the local
# memory without the notebook becoming unresponsive. This method has worked accuratly and quickly for 10+ consecutive tests.

# It takes approximately 1 minute for this cell to run.

x1 = 0
x2 = 50

while x1 < 63000:
    
    tempDF = CCES_df.iloc[x1:x2]
    tempDF.to_sql('CCES_16', con=engine, if_exists='append')
    x1 += 50
    x2 += 50
    print('Round complete, starting', x1, 'to', x2)

OperationalError: (sqlite3.OperationalError) too many SQL variables [SQL: 'INSERT INTO "CCES_16" ("index", "V101", lookupzip, "StateName", "StateAbb", "Latitude", "Longitude", countyfips, birthyr, gender, educ, "GunBackgroundChecks_16", "ProhibitPublication_16", "BanAssultWeapons_16", "MakeCCPEasier_16", "AlwaysAllowChoice_16", "RapeIncestorHealth_16", "ProhibitMoreThan20Weeks_16", "EmployersDeclineBenefits_16", "ProhibitFedFunds_16", "GayMarriage") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: (0, 222168628, 3442, 'New Hampshire', 'NH', 44.00123060000001, -71.57992309999999, 33011.0, 1969, 'female', 'HS_Grad', 'Support', 'Oppose', 'Oppose', 'Oppose', 'Support', 'Oppose', 'Support', 'Oppose', 'Oppose', 'Support', 1, 301400441, 3303, 'New Hampshire', 'NH', 44.00123060000001, -71.57992309999999, 33013.0, 1948, 'female', 'Some College', 'Support', 'Oppose', 'Support', 'Oppose', 'Support', 'Oppose', 'Oppose', 'Oppose', 'Oppose', 'Support', 2, 301413386, 3087, 'New Hampshire', 'NH', 44.00123060000001, -71.57992309999999, 33015.0, 1955, 'male', 'Post-Grad', 'Oppose', 'Oppose', 'Oppose', 'Support', 'Oppose', 'Support', 'Support', 'Support', 'Support', 'Support', 3, 301420796, 3222, 'New Hampshire', 'NH', 44.00123060000001, -71.57992309999999, 33009.0, 1961, 'male', 'Post-Grad', 'Support', 'Oppose', 'Support', 'Oppose', 'Support', 'Oppose', 'Oppose', 'Oppose', 'Oppose', 'Support', 4, 301421170, 3811, 'New Hampshire', 'NH', 44.00123060000001, -71.57992309999999, 33015.0, 1954, 'male', '4-year', 'Support', 'Oppose', 'Support', 'Oppose', 'Support', 'Oppose', 'Oppose', 'Oppose', 'Oppose', 'Support', 5, 301424823, 3225, 'New Hampshire', 'NH', 44.00123060000001, -71.57992309999999, 33001.0, 1956, 'male', '4-year', 'Support', 'Support', 'Oppose', 'Support', 'Oppose', 'Support', 'Support', 'Oppose', 'Support', 'Support', 6, 301522426, 3755, 'New Hampshire', 'NH', 44.00123060000001, -71.57992309999999, 33009.0, 1954, 'female', '4-year', 'Support', 'Oppose', 'Support', 'Oppose', 'Oppose', 'Oppose', 'Oppose', 'Oppose', 'Oppose', 'Support', 7, 302135167, 3431, 'New Hampshire', 'NH', 44.00123060000001, -71.57992309999999, 33005.0, 1962, 'female', '4-year', 'Support', 'Oppose', 'Support', 'Oppose', 'Oppose', 'Support', 'Support', 'Support', 'Support', 'Support', 8, 302136602, 3812, 'New Hampshire', 'NH', 44.00123060000001, -71.57992309999999, 33003.0, 1978, 'male', 'Post-Grad', 'Support', 'Oppose', 'Support', 'Oppose', 'Oppose', 'Oppose', 'Oppose', 'Oppose', 'Oppose', 'Support', 9, 302146424, 3053, 'New Hampshire', 'NH', 44.00123060000001, -71.57992309999999, 33015.0, 1963, 'male', 'HS_Grad', 'Support', 'Support', 'Support', 'Support', 'Support', 'Support', 'Oppose', 'Support', 'Oppose', 'Support', 10, 302252285, 3104, 'New Hampshire', 'NH', 44.00123060000001, -71.57992309999999, 33011.0, 1957, 'female', '2-year', 'Support', 'Oppose', 'Support', 'Oppose', 'Support', 'Oppose', 'Oppose', 'Oppose', 'Oppose', 'Support', 11, 302262572, 3835, 'New Hampshire', 'NH', 44.00123060000001, -71.57992309999999, 33017.0, 1957, 'female', 'Post-Grad', 'Support', 'Support', 'Support', 'Oppose', 'Support', 'Oppose', 'Oppose', 'Oppose', 'Oppose', 'Support', 12, 302311628, 3037, 'New Hampshire', 'NH', 44.00123060000001, -71.57992309999999, 33015.0, 1954, 'male', 'Some College', 'Support', 'Support', 'Oppose', 'Oppose', 'Oppose', 'Oppose', 'Support', 'Oppose', 'Support', 'Support', 13, 302327509, 3833, 'New Hampshire', 'NH', 44.00123060000001, -71.57992309999999, 33015.0, 1951, 'male', 'Post-Grad', 'Support', 'Support', 'Support', 'Oppose', 'Support', 'Oppose', 'Oppose', 'Oppose', 'Oppose', 'Support', 14, 302423570, 3867, 'New Hampshire', 'NH', 44.00123060000001, -71.57992309999999, 33017.0, 1943, 'female', 'HS_Grad', 'Support', 'Support', 'Oppose', 'Oppose', 'Oppose', 'Support', 'Support', 'Oppose', 'Oppose', 'Support', 15, 302445968, 3773, 'New Hampshire', 'NH', 44.00123060000001, -71.57992309999999, 33019.0, 1973, 'male', 'Some College', 'Oppose', 'Support', 'Oppose', 'Support', 'Support', 'Oppose', 'Oppose', 'Oppose', 'Oppose', 'Oppose', 16, 302448387, 3079, 'New Hampshire', 'NH', 44.00123060000001, -71.57992309999999, 33015.0, 1953, 'male', 'HS_Grad', 'Support', 'Oppose', 'Support', 'Oppose', 'Support', 'Support', 'Support', 'Oppose', 'Oppose', 'Support', 17, 302451279, 3102, 'New Hampshire', 'NH', 44.00123060000001, -71.57992309999999, 33011.0, 1976, 'female', '4-year', 'Support', 'Support', 'Oppose', 'Support', 'Oppose', 'Support', 'Support', 'Support', 'Support', 'Oppose', 18, 302459061, 3835, 'New Hampshire', 'NH', 44.00123060000001, -71.57992309999999, 33017.0, 1987, 'male', '4-year', 'Support', 'Support', 'Oppose', 'Support', 'Oppose', 'Support', 'Support', 'Support', 'Support', 'Oppose', 19, 302471927, 3878, 'New Hampshire', 'NH', 44.00123060000001, -71.57992309999999, 33017.0, 1962, 'female', 'Some College', 'Support', 'Oppose', 'Oppose', 'Support', 'Oppose', 'Support', 'Support', 'Oppose', 'Oppose', 'Support', 20, 302472063, 3103, 'New Hampshire', 'NH', 44.00123060000001, -71.57992309999999, 33011.0, 1970, 'female', 'Some College', 'Oppose', 'Support', 'Oppose', 'Support', 'Support', 'Support', 'Support', 'Support', 'Support', 'Support', 21, 302473273, 3470, 'New Hampshire', 'NH', 44.00123060000001, -71.57992309999999, 33005.0, 1969, 'male', '2-year', 'Support', 'Oppose', 'Support', 'Oppose', 'Support', 'Support', 'Oppose', 'Oppose', 'Oppose', 'Support', 22, 302473476, 3431, 'New Hampshire', 'NH', 44.00123060000001, -71.57992309999999, 33005.0, 1953, 'male', 'Post-Grad', 'Support', 'Support', 'Oppose', 'Oppose', 'Support', 'Oppose', 'Support', 'Oppose', 'Oppose', 'Support', 23, 302478098, 3857, 'New Hampshire', 'NH', 44.00123060000001, -71.57992309999999, 33015.0, 1955, 'male', 'Post-Grad', 'Support', 'Support', 'Oppose', 'Support', 'Oppose', 'Oppose', 'Support', 'Support', 'Support', 'Support', 24, 302478619, 3301, 'New Hampshire', 'NH', 44.00123060000001, -71.57992309999999, 33013.0, 1944, 'male', '4-year', 'Support', 'Support', 'Support', 'Support', 'Oppose', 'Support', 'Support', 'Support', 'Support', 'Support', 25, 302481695, 3034, 'New Hampshire', 'NH', 44.00123060000001, -71.57992309999999, 33015.0, 1937, 'female', 'Some College', 'Support', 'Support', 'Support', 'Support', 'Oppose', 'Support', 'Oppose', 'Support', 'Oppose', 'Support', 26, 302483325, 3222, 'New Hampshire', 'NH', 44.00123060000001, -71.57992309999999, 33009.0, 1931, 'male', 'Post-Grad', 'Support', 'Support', 'Support', 'Oppose', 'Support', 'Oppose', 'Support', 'Oppose', 'Support', 'Support', 27, 302485619, 3244, 'New Hampshire', 'NH', 44.00123060000001, -71.57992309999999, 33011.0, 1958, 'female', 'Some College', 'Support', 'Support', 'Support', 'Oppose', 'Support', 'Support', 'Oppose', 'Oppose', 'Oppose', 'Support', 28, 302485922, 3811, 'New Hampshire', 'NH', 44.00123060000001, -71.57992309999999, 33015.0, 1947, 'female', 'Some College', 'Support', 'Support', 'Support', 'Oppose', 'Support', 'Oppose', 'Oppose', 'Oppose', 'Oppose', 'Support', 29, 302485990, 3755, 'New Hampshire', 'NH', 44.00123060000001, -71.57992309999999, 33009.0, 1925, 'female', 'Post-Grad', 'Support', 'Oppose', 'Support', 'Oppose', 'Support', 'Oppose', 'Oppose', 'Oppose', 'Oppose', 'Support', 30, 302486018, 3104, 'New Hampshire', 'NH', 44.00123060000001, -71.57992309999999, 33011.0, 1937, 'female', 'Post-Grad', 'Support', 'Oppose', 'Support', 'Oppose', 'Support', 'Oppose', 'Support', 'Support', 'Oppose', 'Support', 31, 302514421, 3304, 'New Hampshire', 'NH', 44.00123060000001, -71.57992309999999, 33013.0, 1921, 'female', 'HS_Grad', 'Support', 'Support', 'Support', 'Oppose', 'Oppose', 'Support', 'Support', 'Support', 'Oppose', 'Support', 32, 302518531, 3103, 'New Hampshire', 'NH', 44.00123060000001, -71.57992309999999, 33011.0, 1968, 'female', 'HS_Grad', 'Support', 'Support', 'Support', 'Oppose', 'Support', 'Support', 'Oppose', 'Oppose', 'Oppose', 'Oppose', 33, 302518776, 3054, 'New Hampshire', 'NH', 44.00123060000001, -71.57992309999999, 33011.0, 1936, 'male', '4-year', 'Support', 'Oppose', 'Support', 'Oppose', 'Oppose', 'Support', 'Support', 'Oppose', 'Oppose', 'Support', 34, 302519028, 3102, 'New Hampshire', 'NH', 44.00123060000001, -71.57992309999999, 33011.0, 1972, 'female', 'HS_Grad', 'Support', 'Support', 'Support', 'Oppose', 'Support', 'Oppose', 'Oppose', 'Oppose', 'Support', 'Support', 35, 302519142, 3865, 'New Hampshire', 'NH', 44.00123060000001, -71.57992309999999, 33015.0, 1971, 'male', '4-year', 'Support', 'Support', 'Support', 'Oppose', 'Support', 'Oppose', 'Support', 'Oppose', 'Oppose', 'Support', 36, 302520736, 3257, 'New Hampshire', 'NH', 44.00123060000001, -71.57992309999999, 33013.0, 1986, 'female', 'Some College', 'Support', 'Oppose', 'Support', 'Oppose', 'Support', 'Oppose', 'Oppose', 'Oppose', 'Oppose', 'Support', 37, 302521104, 3752, 'New Hampshire', 'NH', 44.00123060000001, -71.57992309999999, 33019.0, 1942, 'female', 'Some College', 'Support', 'Oppose', 'Support', 'Oppose', 'Support', 'Oppose', 'Oppose', 'Oppose', 'Oppose', 'Support', 38, 302521970, 3051, 'New Hampshire', 'NH', 44.00123060000001, -71.57992309999999, 33011.0, 1951, 'male', '2-year', 'Support', 'Support', 'Support', 'Support', 'Support', 'Support', 'Support', 'Support', 'Oppose', 'Support', 39, 302522878, 3110, 'New Hampshire', 'NH', 44.00123060000001, -71.57992309999999, 33011.0, 1967, 'male', '4-year', 'Oppose', 'Oppose', 'Oppose', 'Support', 'Oppose', 'Support', 'Support', 'Support', 'Support', 'Oppose', 40, 302524620, 3104, 'New Hampshire', 'NH', 44.00123060000001, -71.57992309999999, 33011.0, 1959, 'female', 'Post-Grad', 'Support', 'Support', 'Support', 'Support', 'Support', 'Support', 'Oppose', 'Oppose', 'Oppose', 'Support', 41, 302525301, 3865, 'New Hampshire', 'NH', 44.00123060000001, -71.57992309999999, 33015.0, 1971, 'male', 'Some College', 'Support', 'Support', 'Oppose', 'Support', 'Support', 'Oppose', 'Oppose', 'Support', 'Oppose', 'Support', 42, 302525590, 3801, 'New Hampshire', 'NH', 44.00123060000001, -71.57992309999999, 33015.0, 1949, 'male', 'Some College', 'Support', 'Oppose', 'Support', 'Oppose', 'Oppose', 'Oppose', 'Oppose', 'Support', 'Support', 'Oppose', 43, 302525817, 3054, 'New Hampshire', 'NH', 44.00123060000001, -71.57992309999999, 33011.0, 1947, 'male', '4-year', 'Support', 'Support', 'Support', 'Oppose', 'Support', 'Oppose', 'Oppose', 'Oppose', 'Oppose', 'Support', 44, 302526173, 3801, 'New Hampshire', 'NH', 44.00123060000001, -71.57992309999999, 33015.0, 1993, 'female', '4-year', 'Support', 'Oppose', 'Support', 'Oppose', 'Support', 'Oppose', 'Oppose', 'Oppose', 'Oppose', 'Support', 45, 302528770, 3222, 'New Hampshire', 'NH', 44.00123060000001, -71.57992309999999, 33009.0, 1962, 'male', '2-year', 'Support', 'Oppose', 'Support', 'Oppose', 'Support', 'Oppose', 'Oppose', 'Oppose', 'Oppose', 'Support', 46, 302531420, 3060, 'New Hampshire', 'NH', 44.00123060000001, -71.57992309999999, 33011.0, 1964, 'female', 'Some College', 'Support', 'Support', 'Support', 'Oppose', 'Support', 'Oppose', 'Support', 'Support', 'Support', 'Support', 47, 302531613, 3820, 'New Hampshire', 'NH', 44.00123060000001, -71.57992309999999, 33017.0, 1946, 'female', 'Some College', 'Support', 'Support', 'Support', 'Oppose', 'Support', 'Oppose', 'Support', 'Oppose', 'Oppose', 'Support', 48, 302532219, 3276, 'New Hampshire', 'NH', 44.00123060000001, -71.57992309999999, 33001.0, 1952, 'male', 'Some College', 'Support', 'Support', 'Support', 'Oppose', 'Support', 'Oppose', 'Support', 'Oppose', 'Oppose', 'Support', 49, 302532750, 3820, 'New Hampshire', 'NH', 44.00123060000001, -71.57992309999999, 33017.0, 1982, 'female', '4-year', 'Support', 'Support', 'Support', 'Support', 'Oppose', 'Support', 'Oppose', 'Oppose', 'Support', 'Oppose')] (Background on this error at: http://sqlalche.me/e/e3q8)

In [ ]:
# Declare a base using automap_base()
Base = automap_base()
Base

In [ ]:
# Use the base class to reflect the database tables
Base.prepare(engine, reflect=True)

In [ ]:
# Print all of the classses mapped to the Base (this provides a list of the table names in the sqlite.db)
Base.classes.keys()

In [ ]:
# Assign the CCES_16 class to a variable called 'CCES'
CCES = Base.classes.CCES_16

In [ ]:
### Accuracy Test 1
# Query support for gay marriage from pandas DF and from Sqlite file

ApproveGay = session.query(CCES).filter(CCES.GayMarriage == 'Support').count()
print(f'Sqlite query of votes supporting Gay Marrige: {ApproveGay}')
print(f'Pandas DF Sort of votes supporing Gay Marriage: {GaySupport}')

In [ ]:
### Accuracy Test 2
# Query support for Gun Background Checks from pandas DF and Sqlite file
SupportChecks = session.query(CCES).filter(CCES.GunBackgroundChecks_16 == 'Support').count()
print(f'Sqlite support votes: {SupportChecks}')
print(f'Pandas DF support votes: {GunBcSupport}')

In [ ]:
### Multi Filter Test 1
# Query Males who support background checks
# Query Females who support background checks
# Total number of support background check votes in Pandas

MaleCheckSupport = session.query(CCES).filter(CCES.gender == 'male').filter(CCES.GunBackgroundChecks_16 == 'Support').count()
FemaleCheckSupport = session.query(CCES).filter(CCES.gender == 'female').filter(CCES.GunBackgroundChecks_16 == 'Support').count()

print(f'Query Male = {MaleCheckSupport}')
print(f'Query Female = {FemaleCheckSupport}')
print('Query total = ', MaleCheckSupport + FemaleCheckSupport)
print(f'Total Support = {GunBcSupport}')

In [ ]:
# Filter by state how many respondents were supportive of Gun Background Checks

StatesFor = session.query(CCES.StateName, func.count(CCES.GunBackgroundChecks_16)).group_by(CCES.StateName).all()
StatesFor[0:5]